<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UseCase_Coroutine_And_Test"
        tools:targetApi="31">
        <activity
            android:name=".usecase.coroutine.usecase10.CoroutineUseCase10Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.coroutine.usecase9.CoroutineUseCase9Activity"
            android:exported="false" />
        <activity
            android:name=".ui.UseCastCategoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usecase.flow.usecase4.FlowUseCase4Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.flow.usecase3.FlowUseCase3Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.flow.usecase2.FlowUseCase2Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.flow.usecase1.FlowUseCase1Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.coroutine.usecase8.CoroutineUseCase8Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.coroutine.usecase7.CoroutineUseCase7Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.coroutine.usecase6.CoroutineUseCase6Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.coroutine.usecase5.CoroutineUseCase5Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.coroutine.usecase4.CoroutineUseCase4Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.coroutine.usecase3.CoroutineUseCase3Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.coroutine.usecase2.CoroutineUseCase2Activity"
            android:exported="false" />
        <activity
            android:name=".usecase.coroutine.usecase1.CoroutineUseCase1Activity"
            android:exported="false" />
    </application>

</manifest>